@mixin mobile{
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop{
    @media screen and (max-width: 1200px) {
        @content;
    }
}

$primaryColor : #a7bcff;

.body-wrapper{
    background-color: $primaryColor;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .home{
        height: 80%;
        width: 50%;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;

        .sidebar{
            flex: 1;
            height: 100%;
        }
        .chat{
            flex: 2;
            height: 100%;
        }
    }
}